<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

{% if page.url %}
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
{% if page.is_post %}
  <meta name="twitter:description" content="{{ page.excerpt | xml_escape }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/img/{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/img/face_larger.jpeg">
{% endif %}