<header class="site-header">
  <div class="titles">
    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h2 class="site-subtitle"><a href="{{ site.baseurl }}/"/>{{ site.subtitle }}</a></h2>
  </div>
    <nav class="site-nav">
      <div class="trigger">
        {% for targetPage in site.pages %}
          {% if targetPage.title %}
          {% if page.title != targetPage.title %}<a class="page-link" href="{{ targetPage.url | prepend: site.baseurl }}">{% endif %}{{ targetPage.title }}{% if page.title != targetPage.title %}</a>{% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

</header>
